.facilitiesboxcontainer {
	text-align: center;
}
.facilitiesbox {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction:     row;
	flex-direction:         row;
	-webkit-flex-wrap: overflow;
	-ms-flex-wrap:     overflow;
	flex-wrap:         overflow;
	-webkit-justify-content: center;
	-ms-flex-pack:           center;
	justify-content:         center;
}
.singlefacilitythumbbox {
	flex: 0 0 50px;
	margin: 0px 25px 25px !important;
	padding: 0 25px 0;
}
